<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/block-avatars.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>
<body>

    <div class="container">
        <div class="main-block">

            <div class="avatars">
                <div id="current-user" data-user-id="{{ user.id }}" hidden></div>
                <div id="current-csrf" data-csrf="{% csrf_token %}" hidden></div>
                {% for user in all_users %}
                    <li class="avatar-block">
                        <div class="avatar-circle" data-user-id="{{ user.id }}">
                            <img src="
                                {% if user.photo %}
                                    {{ user.photo.url }}
                                {% endif %}" alt="">
                        </div>
                    </li>
                {% endfor %}
            </div>

            <div class="messages">
                <div class="block-textarea-bottom">
                    <div class="textarea" contenteditable="true" 
                                          data-placeholder="Введите сообщение..."></div>
                    <button class="btn-send">
                        <img src="{% static 'icons/send-button.png' %}" alt="">
                    </button>
                </div>
                
                <div class="block-messages"></div>

          </div>

        </div>
    </div>

    <script src="{% static 'js/ui/messages.js' %}"></script>
    <script src="{% static 'js/ui/avatars.js' %}"></script>
    <script src="{% static 'js/server.js' %}"></script>
    <script src="{% static 'js/websocket.js' %}"></script>

</body>
</html>