<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
<div class="container">
    <div class="header">
        <a href="{% url 'login' %}"><button class="btn-left">Войти</button></a>
        <a href="{% url 'signup' %}"><button class="btn-right">Регистрация</button></a>
    </div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <ul class="form">
        <h2>Вход</h2>
        <hr>
        <li>
            {{ form.username }}
        </li>
        <li>
            {{ form.password }}
        </li>
        <hr>

        <button class="button" type="submit">Войти</button>
    </ul>
</div>

</form>
</body>
</html>